<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matress King | Главная</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/uikit.min.css">
  <link rel="stylesheet" href="css/components/accordion.min.css">
  <link rel="stylesheet" href="css/components/sticky.min.css">
  <link rel="stylesheet" href="css/components/slideshow.min.css">
  <link rel="stylesheet" href="css/components/slider.min.css">
  <link rel="stylesheet" href="css/components/slidenav.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<header id="home">
  <div class="decorative-line"></div>
  <div class="uk-container uk-container-center">
    <a href="index.html"><img src="img/logo.png" alt="Лого" class="header__logo"></a>
    <div class="navbar-and-contacts-col">
      <div class="contacts">
        <span class="address">ТЦ «Армада» 4 блок</span>
        <span><a href="tel:+7 778 584 80 46">+7 (778) 584 80 46</a></span>
        <span><a href="tel:+7 778 883 44 40">+7 (778) 883 44 40</a></span>
        <span><a href="tel:+7 707 704 43 00">+7 (707) 704 43 00</a></span>
      </div>

      <nav class="uk-navbar"
           data-uk-sticky="{getWidthFrom:'.main-section', top:-200, animation: 'uk-animation-slide-top'}">
        <ul class="uk-navbar-nav uk-hidden-small" data-uk-scrollspy-nav="{closest:'li', topoffset:-200}">
          <li><a href="#home" data-uk-smooth-scroll>Начало</a></li>
          <li><a href="#about" data-uk-smooth-scroll="{offset: 60}">О нас</a></li>
          <li><a href="#advantages" data-uk-smooth-scroll="{offset: 40}">Наши приемущества</a></li>
          <li><a href="#promotions" data-uk-smooth-scroll="{offset: 45}">Акции</a></li>
          <li><a href="#goods" data-uk-smooth-scroll="{offset: 40}">Продукция</a></li>
          <li><a href="#catalog" data-uk-smooth-scroll="{offset: 60}">Каталог</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
        <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
      </nav>

      <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
          <ul class="uk-nav uk-nav-offcanvas" data-uk-scrollspy-nav="{closest:'li', topoffset:-200}">
            <li><a href="#home" data-uk-smooth-scroll>Начало</a></li>
            <li><a href="#about" data-uk-smooth-scroll="{offset: 60}">О нас</a></li>
            <li><a href="#advantages" data-uk-smooth-scroll="{offset: 40}">Наши приемущества</a></li>
            <li><a href="#promotions" data-uk-smooth-scroll="{offset: 40}">Акции</a></li>
            <li><a href="#goods" data-uk-smooth-scroll="{offset: 40}">Продукция</a></li>
            <li><a href="#catalog" data-uk-smooth-scroll="{offset: 60}">Каталог</a></li>
            <li><a href="#contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>

<!--НАЧАЛО Главный раздел-->
<div class="main-section">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2 slogan-container">
        <p class="slogan">Комфорт и надёжность</p>
      </div>
      <div class="uk-width-medium-1-2 form-container">
        <form action="">
          <img src="img/home_mail.png" alt="Письмо">
          <h3>Напишите нам</h3>
          <input type="text" name="name" placeholder="Имя">
          <input type="tel" name="phone" placeholder="Телефон">
          <textarea name="msg" id="msg" placeholder="Сообщение"></textarea>
          <input type="submit" value="Отправить">
        </form>
      </div>
    </div>
    </div>
</div>
<!--КОНЕЦ Главный раздел-->

<!--НАЧАЛО about-->
<div class="about uk-container uk-container-center" id="about">
  <div class="uk-grid">
    <div class="uk-width-medium-6-10">
      <img src="img/about_mattress.png" alt="Матрац">
    </div>
    <div class="uk-width-medium-4-10 uk-text-center">
      <h2>О нас</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
  </div>
</div>
<!--КОНЕЦ about-->

<!--НАЧАЛО advantages-->
<div class="advantages" id="advantages">
  <div class="uk-container uk-container-center">
    <h2 class="uk-text-center">Наши приемущества</h2>
    <p class="slogan">Комфорт и надёжность</p>

    <ul class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-margin>
      <li>
        <img src="img/advantages_cart.png" alt="Ассортимент">
        <div>
          <h4>Широкий ассортимент</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
      <li>
        <img src="img/advantages_stopwatch.png" alt="Просто и быстро">
        <div>
          <h4>Просто и быстро</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
      <li>
        <img src="img/advantages_piggy-bank.png" alt="Экономия">
        <div>
          <h4>Экономия</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
      <li>
        <img src="img/advantages_truck.png" alt="Доставка">
        <div>
          <h4>Доставка</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
      <li>
        <img src="img/advantages_mattress.png" alt="Матрац за 3 дня">
        <div>
          <h4>Матрац за 3 дня</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
      <li>
        <img src="img/advantages_customer-service.png" alt="Консультация">
        <div>
          <h4>Консультация</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--КОНЕЦ advantages-->

<!--НАЧАЛО promotions-->
<div class="promotions" id="promotions">
  <div class="uk-container uk-container-center">
    <div class="uk-slidenav-position" data-uk-slideshow>
      <ul class="uk-slideshow uk-overlay-active">
        <li>
          <img src="img/promotions_background1.jpg">
          <div class="uk-overlay-panel uk-overlay-background uk-overlay-right uk-overlay-slide-right uk-width-1-0 uk-width-medium-7-10 uk-width-large-4-10">
            <h3>Название акции</h3>
            <div class="rectangle">
              <p class="uk-hidden-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum. </p>
              <p class="small">Акция действительна до 07. 07. 2016</p>
              <p class="small"><a href="single-product.html">Подробнее</a></p>
            </div>
          </div>
        </li>
        <li>
          <img src="img/promotions_background2.jpg">
          <div class="uk-overlay-panel uk-overlay-background uk-overlay-right uk-overlay-slide-right uk-width-1-0 uk-width-medium-1-2 uk-width-large-4-10">
            <h3>Название акции 2</h3>
            <div class="rectangle">
              <p class="uk-hidden-small">
                Iste, repellendus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci consequatur debitis, distinctio, eius expedita molestias natus quia similique veniam vero voluptatem voluptates voluptatum? Corporis deserunt dolorum, eaque explicabo facilis fugiat ipsa iusto labore nemo officiis quisquam quos sit voluptate! </p>
              <p class="small">Акция действительна до 07. 07. 2016</p>
              <p class="small"><a href="single-product.html">Подробнее</a></p>
            </div>
          </div>
        </li>
      </ul>
      <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
      <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideshow-item="next"></a>
    </div>
  </div>
</div>
<!--КОНЕЦ promotions-->

<!--НАЧАЛО goods-->
<div class="goods" id="goods">
  <div class="uk-container uk-container-center">
    <h2>Продукция</h2>
    <div class="data-uk-slider uk-slidenav-position" data-uk-slider="{autoplay: true}">
      <div class="uk-slider-container">
        <ul class="uk-slider uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-1-1">
          <li>
            <div class="border">
              <img src="img/goods_example1.jpg">
              <h3>Название товара</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
              <p><a href="single-product.html">Подробнее</a></p>
            </div>
          </li>
          <li>
            <div class="border">
              <img src="img/goods_example2.jpg">
              <h3>Название товара 2</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
              <p><a href="single-product.html">Подробнее</a></p>
            </div>
          </li>
          <li>
            <div class="border">
              <img src="img/goods_example3.jpg">
              <h3>Название товара 3</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
              <p><a href="single-product.html">Подробнее</a></p>
            </div>
          </li>
          <li>
            <div class="border">
              <img src="img/goods_example4.jpg">
              <h3>Название товара 4</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
              <p><a href="single-product.html">Подробнее</a></p>
            </div>
          </li>
          <li>
            <div class="border">
              <img src="img/goods_example5.jpg">
              <h3>Название товара 5</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
              <p><a href="single-product.html">Подробнее</a></p>
            </div>
          </li>
        </ul>
      </div>
      <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slider-item="previous"></a>
      <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slider-item="next"></a>
    </div>
    <a href="catalog.html" class="go-to-catalog">Перейти в каталог</a>
  </div>
</div>
<!--КОНЕЦ goods-->

<!--НАЧАЛО catalog-->
<div id="catalog">
  <h2 class="uk-text-center">Каталог</h2>
  <div class="catalog">
    <div class="uk-container uk-container-center">
      <a href="catalog.html" class="go-to-catalog">Перейти в каталог</a>
      <div class="content-section">
        <div class="decor-text_and_price">
          <p class="decor-text">
            Изготавливаем в кротчайшие сроки <br>
          Высокое качество и сервис
          </p>
          <p class="price">от 25 999 тг</p>
        </div>

        <!--НАЧАЛО горизонтальная тень-->
        <div class="uk-text-center">
          <img src="img/catalog-shadow.png" alt="Тень">
        </div>
        <!--КОНЕЦ горизонтальная тень-->

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <div class="uk-grid">
          <div class="uk-width-1-1 uk-width-medium-1-2">
            <img src="img/catalog_bed.png">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing elit.</p>
          </div>
          <div class="uk-width-1-1 uk-width-medium-1-2">
            <img src="img/catalog_bed.png">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing elit.</p>
          </div>
          <div class="uk-width-1-1 uk-width-medium-1-2">
            <img src="img/catalog_bed.png">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing elit.</p>
          </div>
          <div class="uk-width-1-1 uk-width-medium-1-2">
            <img src="img/catalog_bed.png">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--КОНЕЦ catalog-->

<footer>
  <div class="footer-flex uk-container uk-container-center">
    <a href="index.html"><img src="img/footer_logo.png" alt="Лого"></a>
    <div class="map">
      <script type="text/javascript" charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fyycaM9ARr4kPXttQAeX7dWrevcM_1oN&width=100%&height=300&lang=ru_RU&sourceType=constructor"></script>
    </div>
    <div class="contacts">
      <h3>Наши контакты</h3>

      <p>г.Алматы ул. Кабдолова (Маречека) 1/8 , уг. ул. Саина
        ТЦ «Армада» 4 блок</p>

      <p><a href="tel:+7 778 584 80 46">+7 (778) 584 80 46</a> <br>
        <a href="tel:+7 778 883 44 40">+7 (778) 883 44 40</a> <br>
        <a href="tel:+7 707 704 43 00">+7 (707) 704 43 00</a></p>

      <p><a href="mailto:m.matras@mail.ru">m.matras@mail.ru</a></p>
    </div>
  </div>
</footer>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/uikit.min.js"></script>
<script src="js/components/accordion.js"></script>
<script src="js/components/sticky.min.js"></script>
<script src="js/components/slideshow.min.js"></script>
<script src="js/components/slider.min.js"></script>
<script src="js/components/lightbox.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>